{% extends 'index.html' %}
{% load static %}

{% block title %}
Contact Airborne Images
{% endblock %}

{% block content %}

<br><br>

<div class="container">
    <div>
        <h1 class="text-center text-primary fw-lighter">Contact Airborne Images</h1>
        <br>
    </div>
    <iframe width="640px" height="1000px" style="width: 100%; margin: auto;"
        src="https://forms.office.com/Pages/ResponsePage.aspx?id=KfACGfQpFEmmG_15hDHK6f1iOhJ8-9ZGnCdYutBNGQ5UNDg2Uk0yWlJBU0EyNlA3UEFTUFMyU1RNQy4u&embed=true"
        frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh"
        allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
    <!-- <script type="text/javascript" src="https://form.jotform.com/jsform/232215374851050"></script> -->
</div>
{% endblock %}