{% extends 'index.html' %}
{% load static %}

{% block title %}
Gallery
{% endblock %}


{% block content %}

<head>
    <link href="{% static 'styles/lightbox.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/app.css' %}">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css" />
</head>


{% include 'components/drone_btn.html' %}
<section class="showcase">
    <div class="video-container">
        <!-- <video src="{% static 'images/Website.mp4' %}" autoplay muted loop></video> -->
        <video
            src="https://photos.smugmug.com/photos/i-G2dNJSJ/0/NWQ63PFFNMZT85qsRjTSCfR5fLb3HWDQzLhJRtGJW/1920/i-G2dNJSJ-1920.mp4"
            autoplay muted loop></video>
    </div>
</section>
<section class="section-home">
    <h1>Airborne Images</h1>
    <br>
    <h3>Views From Above</h3>
</section>

<section class="w-75 mx-auto">
    <br><br><br>
    <h1 class="text-center text-primary fw-light">Premium Photography Services</h1>
    <br>
    <h4 class="wide fw-light text-center text-primary">
        Utilizing drones can provide your company with a myriad of advantages. By incorporating aerial shots into
        your marketing materials, you can easily stand out from the crowd, grabbing attention with stunning visuals
        that surpass traditional ground-level videography. Moreover, drones offer a unique opportunity to showcase
        your space, whether it's a property, venue, or event, by providing a comprehensive view that allows
        potential customers to better grasp its scale, layout, and surrounding environment. </h4>
</section>
<br><br>
<h1 class="text-center text-primary">Airborne Images Gallery</h1>
<hr class="style14 w-50 mb-3 mt-5 mx-auto" />
<br><br>

<div class="container">
    <div class="gallery">
        <a href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-D2RHhH3/0/Dmz2KcbJX2GfHWDjHb62CmWM82LGpdRsR2zCcf93t/X3/carousel-1-X3.jpg"
            data-lightbox="Jacksonville" data-title="Jacksonville Beach Pier">
            <img src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-D2RHhH3/0/Dmz2KcbJX2GfHWDjHb62CmWM82LGpdRsR2zCcf93t/X3/carousel-1-X3.jpg"
                alt="Drone Photos & Video" /></a>

        <a href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-4ffJzZt/0/mD5sNXrhB4wjzskSH5xZcpfcqdbgxFLwg4cktZJH/X3/SanFran-272-Pano-X3.jpg"
            data-lightbox="Drone Work" data-title="Golden Gate Bridge">
            <img src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-4ffJzZt/0/mD5sNXrhB4wjzskSH5xZcpfcqdbgxFLwg4cktZJH/X3/SanFran-272-Pano-X3.jpg"
                alt="Golden Gate Bridge" /></a>

        <a href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-G9nbxB9/0/DXJ2mbWZF6vLLmkQXqsB5GPWzsDdq3XhcHvkwgBJj/X2/carousel-2-3-X2.jpg"
            data-lightbox="Drone Work" data-title="Ruoff Music Center">
            <img src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-G9nbxB9/0/DXJ2mbWZF6vLLmkQXqsB5GPWzsDdq3XhcHvkwgBJj/X2/carousel-2-3-X2.jpg"
                alt="Ruoff Music Center" /></a>

        <div>
            <p class="text-box text-end text-primary">In a sea of static marketing, drone footage is a visual explosion.
                Grab attention, boost brand image,
                and leave a lasting impression that sets you apart.
            </p>
        </div>
        <!-- ***********************  -->

        <a href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-vZRwt2q/0/CgZWLNt5cPb9TbLPqCVPqjnzmjZPM93wBvPCCsPb7/X3/Geist%20Pano-X3.jpg"
            data-lightbox="Drone Work" data-title="Fishers, IN">
            <img src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-vZRwt2q/0/CgZWLNt5cPb9TbLPqCVPqjnzmjZPM93wBvPCCsPb7/X3/Geist%20Pano-X3.jpg"
                alt="Fishers" /></a>

        <div>
            <p class="text-box text-start">Embracing drone technology can undoubtedly elevate your company's visual
                content and set you apart
                from competitors.</p>
        </div>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-ShcmSRH/0/13b1deac/X3/Arch-X3.jpg"
            data-lightbox="Drone Work" data-title="Drone Photos & Video">
            <img src="https://photos.smugmug.com/Galleries/Drone/i-ShcmSRH/0/13b1deac/X3/Arch-X3.jpg"
                alt="Drone Photos & Video" /></a>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-hhLk96D/0/13d24afa/X3/Bolinas%20CA-X3.png"
            data-lightbox="Drone Work" data-title="Drone Photos & Video">
            <img src="https://photos.smugmug.com/Galleries/Drone/i-hhLk96D/0/13d24afa/X3/Bolinas%20CA-X3.png"
                alt="Drone Photos & Video" /></a>

        <!-- ***********************  -->

        <a href="https://photos.smugmug.com/Galleries/Drone/i-gPBSqB4/0/ef7613b1/1920/Rainier%20hyperlapse-1920.mp4"
            target="blank">
            <img src="{% static 'images/Ranier.png' %}" alt="Drone Video" /></a>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-JQNzHT2/0/784baf37/X3/Bristol-X3.jpg"
            data-lightbox="Drone Work" data-title="Drone Photos & Video">
            <img src="https://photos.smugmug.com/Galleries/Drone/i-JQNzHT2/0/784baf37/X3/Bristol-X3.jpg"
                alt="Drone Photos & Video" /></a>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-9nwTjV4/0/4c39ec7a/X3/Bristol%20TN-X3.png"
            data-lightbox="Drone Work" data-title="Drone Photos & Video">
            <img src="https://photos.smugmug.com/Galleries/Drone/i-9nwTjV4/0/4c39ec7a/X3/Bristol%20TN-X3.png"
                alt="Drone Photos & Video" /></a>

        <div>
            <p class="text-box text-end text-primary">Drones offer a glimpse into unique aspects of your business that
                would otherwise
                be inaccessible by conventional means.</p>
        </div>

        <!-- ***********************  -->

        <a href="https://photos.smugmug.com/Galleries/Drone/i-9nwTjV4/0/4c39ec7a/X3/Bristol%20TN-X3.png"
            data-lightbox="Drone Work" data-title="Drone Photos & Video">
            <img src="https://photos.smugmug.com/Galleries/Drone/i-jrRwh6G/0/132968fb/X3/Lighthouse-X3.jpg"
                alt="Drone Photos & Video" /></a>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-D8XBcTs/0/89fd98d6/1280/Waterfalls%20-%20HD%201080p-1280.mp4"
            target="blank">
            <img src="{% static 'images/WaterfallCover.png' %}" alt="Drone Video"></a>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-nHbNCJr/0/d14e77df/XL/Denver%20Mile%20High%20Nationals-XL.jpg"
            data-lightbox="Drone Work" data-title="Drone Photos & Video">
            <img src="{% static 'images/Denver_cover.png' %}" alt="Drone Video" /></a>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-mvNMMtc/0/35fbfad3/XL/SEA_00295-2-XL.jpg"
            data-lightbox="Drone Work" data-title="Drone Photos & Video">
            <img src="https://photos.smugmug.com/Galleries/Drone/i-mvNMMtc/0/35fbfad3/XL/SEA_00295-2-XL.jpg"
                alt="Drone Photos & Video" /></a>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-tmFMd73/0/1fb6ad32/1280/Bolinas%2C%20CA-1280.mp4"
            target="blank">
            <img src="{% static 'images/Balinas_Cover.jpg' %}" alt="Drone Video" /></a>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-mHrsXFq/0/228135c8/1280/Sunset%20over%20the%20Arch-1280.mp4"
            target="blank">
            <img src="{% static 'images/Arch_Cover.png' %}" alt="Drone Video" /></a>

        <div>
            <p class="text-box text-center text-success">Drones capture dynamic events and activities from a unique
                perspective, making your
                videos more engaging and memorable.
            </p>
        </div>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-KK37ZKm/0/86321926/X4/SEA_00147-X4.jpg"
            data-lightbox="Drone Work" data-title="Drone Photos & Video">
            <img src="https://photos.smugmug.com/Galleries/Drone/i-KK37ZKm/0/86321926/X4/SEA_00147-X4.jpg"
                alt="Drone Photos & Video" /></a>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-DTbxBkb/0/e1c7b371/X4/Screenshot%202023-01-02%20at%204.34.37%20PM-X4.jpg"
            data-lightbox="Drone Work" data-title="Drone Photos & Video">
            <img src="https://photos.smugmug.com/Galleries/Drone/i-DTbxBkb/0/e1c7b371/X4/Screenshot%202023-01-02%20at%204.34.37%20PM-X4.jpg"
                alt="Drone Photos & Video" /></a>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-Sc3mQPf/0/63004f86/X4/SEA_00126-X4.jpg"
            data-lightbox="Drone Work" data-title="Drone Photos & Video">
            <img src="https://photos.smugmug.com/Galleries/Drone/i-Sc3mQPf/0/63004f86/X4/SEA_00126-X4.jpg"
                alt="Drone Photos & Video" /></a>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-QH6DMj8/0/7dddebd9/1920/IMS%202023-1920.mp4"
            target="blank">
            <img src="{% static 'images/indy.png' %}" alt="Drone Video" /></a>

        <a href="https://photos.smugmug.com/Galleries/Drone/i-Qwpj9Tx/0/addf5f13/1920/US%20Nationals-1920.mp4"
            target="blank">
            <img src="{% static 'images/usNats.png' %}" alt="Drone Video" /></a>
    </div>
    <br><br><br>
</div>

<div class="row text-center" id="panos">
    <h2>Panorama Images</h2>
    <br><br>
    <div class="col">
        <a href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-T5nKSGQ/0/qKzSPSCTw5KzPwGKqwrtcGBDcHcDXtcxgm8CFwgN/X3/SanFran-18-Pano-X3.jpg"
            data-lightbox="Golden Gate Bridge" data-title="San Francisco">
            <img src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-T5nKSGQ/0/qKzSPSCTw5KzPwGKqwrtcGBDcHcDXtcxgm8CFwgN/X3/SanFran-18-Pano-X3.jpg"
                alt="Drone Photos & Video" /></a>
        <br><br>
        <a href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-LshJ3H8/0/V7GzMk3Jtsr96swjS2gKLB6GjMgCRqbvrDM63866/X3/Downtown-4-Pano-X3.jpg"
            data-lightbox="Indianapolis Speedway" data-title="Indianapolis Speedway">
            <img src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-LshJ3H8/0/V7GzMk3Jtsr96swjS2gKLB6GjMgCRqbvrDM63866/X3/Downtown-4-Pano-X3.jpg"
                alt="Drone Photos & Video" /></a>
        <br><br>
        <a href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-34VWLNp/0/CGv4SJHfWL7vFKW6wVvNqjBnSCF8sgD79PRDT96x2/X3/SanFran-59-Pano--X3.jpg"
            data-lightbox="San Francisco" data-title="San Francisco">
            <img src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-34VWLNp/0/CGv4SJHfWL7vFKW6wVvNqjBnSCF8sgD79PRDT96x2/X3/SanFran-59-Pano--X3.jpg"
                alt="Drone Photos & Video" /></a>
        <br><br>
        <a href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-DjgLs56/0/DfwSF5SZVdc2H4G7sf2fmxqK88XhnKj7rVtRGdZbk/X3/Downtown-1-Pano-X3.jpg"
            data-lightbox="Indianapolis" data-title="Indianapolis">
            <img src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-DjgLs56/0/DfwSF5SZVdc2H4G7sf2fmxqK88XhnKj7rVtRGdZbk/X3/Downtown-1-Pano-X3.jpg"
                alt="Drone Photos & Video" /></a>
        <br><br>
        <a href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-BnbzHRB/0/9DnR5gRwbsQ8xj6jz9MNP2skksPBzF2HZqHFKWqv/X3/SanFran-Pano-X3.jpg"
            data-lightbox="Alcatraz" data-title="Alcatraz">
            <img src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-BnbzHRB/0/9DnR5gRwbsQ8xj6jz9MNP2skksPBzF2HZqHFKWqv/X3/SanFran-Pano-X3.jpg"
                alt="Drone Photos & Video" /></a>
    </div>
</div>
<br><br>

<br><br>
<hr class="style14 mb-5" />
<br>
<div class="container text-center mb-5">
    <div class="airdata">
        {% include 'components/SafetyCard.html' %}
    </div>
</div>
<br>
<hr class="style14 mb-5" />
<br>
<div class="container">
    <h2 class="text-center text-primary">Social Media Content</h2>
    <p class="text-muted text-center fw-lighter">
        <span><i class="fa-solid fa-triangle-exclamation"></i></span>&nbsp; These videos have sound
    </p>
</div>
{% include 'components/social_media_content.html' %}

<br><br>

<div class="container">
    <div>
        <h1 class="text-center text-primary fw-lighter">Contact Airborne Images</h1>
        <br>
    </div>
    <iframe width="640px" height="1000px" style="width: 100%; margin: auto;"
        src="https://forms.office.com/Pages/ResponsePage.aspx?id=KfACGfQpFEmmG_15hDHK6f1iOhJ8-9ZGnCdYutBNGQ5UNDg2Uk0yWlJBU0EyNlA3UEFTUFMyU1RNQy4u&embed=true"
        frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh"
        allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
    <!-- <script type="text/javascript" src="https://form.jotform.com/jsform/232215374851050"></script> -->
</div>
<script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
<script src="{% static 'js/object-fit-videos.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

{% endblock %}