{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/banner.css' %}">
</head>

<body>

    <div class="banner">
        <div class="line">
            <span class="fs-3">Airborne Images</span>
        </div>
    </div>

    <div class="box">
        <div class="content">
            <img src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-vX5SgmJ/0/CW3wL7Xd5pmdPJbQN8qCzsDZGBrkX2J6sQ9DjScKd/M/drone_carousel_sf_3-M.jpg"
                width="500" height="500" alt="Airborne Images">
            <div class="text1">Elevate</div>
            <div class="text2">Your Views!</div>
        </div>
    </div>
</body>

