<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/livecanvas-team/ninjabootstrap/dist/css/bootstrap.min.css"
      media="all"/> -->
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css"/>
  </head>

  <body>
    <div class="container-fluid g-0">
      <img
        style="max-height: 400px; object-fit: cover"
        class="img-fluid w-100 min-vh-25 min-vh-md-50 mb-n7"
        src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-JwLjW7T/0/FQj8ZHbZSTkjZ5393CB646FSQ4kDxq3rZc5ZRJzh2/X3/Speedway-Indy-X3.jpg?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=webp&amp;ixid=M3wzNzg0fDB8MXxzZWFyY2h8NjJ8fHdvbWFuJTIwc2l0dGluZyUyMG9uJTIwZ3JhcyUyMFdhbGtpbmclMjBhcm91bmR8ZW58MHwwfHx8MTcwMzA5MTYyNXww&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080&amp;h=768"
        srcset=""
        sizes=""
        width=""
        height=""
        alt="Airborne Images"
      />
    </div>

    <div class="container p-5 bg-body mt-md-n6 position-relative rounded">
      <div class="row">
        <div class="col-md-4 text-center align-self-center">
          <div class="lc-block border-lg-end border-2">
            <div editable="rich">
              <p class="display-4">WHY DRONES?</p>
            </div>
          </div>
          <!-- /lc-block -->
        </div>
        <!-- /col -->
        <div class="col-md-8">
          <div class="lc-block">
            <div editable="rich">
              <p class="fs-3 text-primary">
                Embracing drone technology can undoubtedly elevate your
                company's visual content and set you apart from competitors.
              </p>
            </div>
          </div>
          <!-- /lc-block -->
        </div>
        <!-- /col -->
      </div>
      <div class="row">
        <div class="col-md-9 offset-md-1">
          <div class="lc-block mt-5">
            <div editable="rich">
              <p class="lead text-primary">
                Drones offer a glimpse into unique aspects of your business that
                would otherwise be inaccessible by conventional means.&nbsp;
              </p>
              <p class="lead text-primary">
                Aerial photography offers the potential to deliver breathtaking shots for
                which a helicopter or other expensive equipment would otherwise
                have to be purchased, even on a small marketing or advertising
                budget.
              </p>
            </div>
          </div>
          <!-- /lc-block -->
        </div>
        <!-- /col -->
      </div>
    </div>

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
