<div class="container" id="socials">

  <div class="row">
    <div class="col">
      <a
        href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-BFGFTBg/0/njQqGr3XpxtfbjP89hJfzQWc3H7QtwSSZLWL2s25/1920/Beach%20IG-1920.mp4"
        target="blank"
      >
        <img
          src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-7Ptw2L3/0/CkTWdGBgnxN6TdmJXtSbBbpz67sjJxGQf8ZM5cZMS/S/Screenshot%202024-03-20%20at%201.45.52%E2%80%AFAM-S.png"
          alt="Jacksonville Beach"
      /></a>
    </div>
    <div class="col">
      <a
        href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-hn5mF34/0/C8gjRLrCtgdXkL6jSWBswsj2RDxtwtKdCPBN2424V/1280/Lighthouse%20Reel-1280.mp4"
        target="blank"
      >
        <img
          src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-NdqDj9b/0/CTCZD3SFrmz86FxD8k8sFqsPrCRFtv9WGDzgtLhX8/S/Screenshot%202024-03-20%20at%201.42.41%E2%80%AFAM-S.png"
          alt="Drone Video"
      /></a>
    </div>
    <div class="col">
      <a
        href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-ZnWn8Kx/0/34PMJvWfs73X3xnm5vqzvLqfBgGGq9TR8sMvpF29/1280/Post%20Malone-1280.mp4"
        target="blank"
      >
        <img
          src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-QxFqPJG/0/ChdQ2KnrCXZ8kbj22tXjF3XM2MMkQ4qr3jzhwXbQq/S/Screenshot%202024-03-20%20at%201.42.19%E2%80%AFAM-S.png"
          alt="Drone Video"
      /></a>
    </div>
    <div class="col">
      <a
        href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-KL4bmVX/0/CrnnjCxbLqV7pvZTgKGwBHtGHbxGQW4cS6W7MsSJd/1920/Drone%20IG%20Reel-1920.mp4"
        target="blank"
      >
        <img
          src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-LB3TksR/0/CCn7GqNWtQ8gB9JrHcsHWD6bSzcgPrvDFZhRCGCph/S/Screenshot%202024-03-20%20at%201.41.48%E2%80%AFAM-S.png"
          alt="Drone Video"
      /></a>
    </div>
    <div class="col">
      <a
        href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-nk72b8q/0/DhjfrgbPnZhcQMW5tNmbWGXDHjP3cfFNJCbZQtgwz/1920/SF%203-1920.mp4"
        target="blank"
      >
        <img
          src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-MrxKFZr/0/FWzGt2zgm93wdMV8BbQJGW8rbZZ8sqV9tDXbkhC8z/S/Screenshot%202024-03-20%20at%201.47.09%E2%80%AFAM-S.png"
          alt="Drone Video"
      /></a>
    </div>
    <div class="col">
      <a
        href="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-gMDWv7z/0/DpgQp85b22HpqzQBCxdvtqHX3MKk4HdTTNKjxvGT6/1920/GatorNats-1920.mp4"
        target="blank"
      >
        <img
          src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-Qttvt9k/0/FWc9SRBzV3HXbfqm9xg6pz26mB2xfFh9WZN5cXXff/S/Screenshot%202024-03-20%20at%201.51.12%E2%80%AFAM-S.png"
          alt="Drone Video"
      /></a>
    </div>
    <div class="col">
      <a
        href="https://photos.smugmug.com/Website/n-6x35Gw/Social-Media-Videos/i-sJg7wNs/0/DkMkZ5mjTd2ThfFH3PGwZ927ww525Sjwjsd4sSjHX/1920/San%20Gabriel%20Mountains%20Reel-1920.mp4"
        target="blank"
      >
        <img
          src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-CFjtRCt/0/CcNvmKk2q8rRjVBXTqnDWxpSB2BXwbQTLTXNH8HXr/X3/sanGabriels-X3.png"
          alt="Drone Video"
      /></a>
    </div>
    <div class="col">
      <a
        href="https://photos.smugmug.com/Website/n-6x35Gw/Social-Media-Videos/i-XDXmhx8/0/FcjqzcTG8pw4fsTcsckDDkZNZNNFkLVNZWJ3SZwk/1920/Easter%20Egg%20Hunt%20IG-1920.mp4"
        target="blank"
      >
        <img
          src="https://photos.smugmug.com/Website/n-6x35Gw/Drone-Photography/i-V9hFdPN/0/DCFQ45mRdrWCdNVN8WVs8F9VSwzLr9Tn87cJW47ss/X3/Screenshot%202024-04-03%20at%2012.37.36%E2%80%AFAM-X3.png"
          alt="Drone Video"
      /></a>
    </div>
  </div>
</div>
