{% load static %}

<body>
  <div class="text-center mt-5">
    <h1>Airborne Images</h1>
    <p class="text-center">Check out my 4k videos on YouTube!</p>
  </div>

  <div class="d-flex flex-wrap container">
    <div class="px-3 mb-5">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/dijYRnnwJYQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        allowfullscreen
      ></iframe>
      <div class="d-flex justify-content-start">
        <h3 class="text-muted">Mount Rainier</h3>
      </div>
    </div>
    <div class="px-3 mb-5">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/jNBdsTKzzbE"
        title="Airborne Images"
        frameborder="2"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        allowfullscreen
      ></iframe>
      <div class="d-flex justify-content-start">
        <h3 class="text-muted">Noblesville, IN</h3>
      </div>
    </div>

    <div class="px-3 mb-5">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/ftfEinLkvnU?si=takb0VgSuK_hm7-b"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        allowfullscreen
      ></iframe>
      <div class="d-flex justify-content-start">
        <h3 class="text-muted">San Francisco</h3>
      </div>
    </div>
    <div class="px-3 mb-5">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/6PtzmP088oo?si=65MLPbJ_cR6ftIZn"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        allowfullscreen
      ></iframe>
      <div class="d-flex justify-content-start">
        <h3 class="text-muted">Indianapolis Raceway Park</h3>
      </div>
    </div>
  </div>
</body>
